html{
    position: relative;
    min-height: 100%;
}
body{
    background: #fff;
    margin: 0;
    background: rgb(242,245,246); /* Old browsers */
    background: -moz-linear-gradient(top, rgba(242,245,246,1) 0%, rgba(227,234,237,1) 37%, rgba(200,215,220,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(242,245,246,1) 0%,rgba(227,234,237,1) 37%,rgba(200,215,220,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(242,245,246,1) 0%,rgba(227,234,237,1) 37%,rgba(200,215,220,1) 100%);
}
/**
** custom rules
*/
.custom-label{
    padding: 3px 30px !important;
    margin: 5px 0;
}
.mt-2{ margin-top: 2em;}
.mt-4{ margin-top: 4rem;}
.mt-5{ margin-top: 5rem;}

.mb-2{ margin-bottom: 2rem;}
.mb-4{ margin-bottom: 4rem;}
.mb-5{ margin-bottom: 5rem;}


a,a:active,a:visited,a:focus,a:hover{color: #888;box-shadow: none;}

.links span a{
    display: inline-block;
    padding: 0 1rem;
    margin: 5px;
}

.res-img{
   width: 100%;
   height: 100%;
}
.label{
    background: transparent;
}
.login-link{
    margin-right: 15px;
}
/** index page **/
.index *{
    color: #999;
}
.logo{
    height: 200px;
}

.footer{
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    color: #888;
}