body{
   background: #fff;
   margin: 0;
}
/**
** custom rules
*/
.mg-btm-1rem {margin-bottom: 1rem;}
.mg-btm-4rem{ margin-bottom: 4rem;}
.mg-top-2rem{ margin-top: 2rem;}
.custom-label{
    padding: 3px 30px !important;
    margin: 5px 0;
}

.res-img{
   width: 100%;
   height: 100%;
}

.error-p{
    padding: 20px;
    color: #fff;
}


/** index page **/
.index *{
    color: #999;
}
.logo{
    height: 200px;
}