<?xml version="1.0" encoding="UTF-8"?>
<phpunit
        backupGlobals="false"
        backupStaticAttributes="false"
        bootstrap="./vendor/autoload.php"
        colors="true"
        convertErrorsToExceptions="true"
        convertNoticesToExceptions="true"
        convertWarningsToExceptions="true"
        processIsolation="false"
        stopOnFailure="false">
    <testsuites>
        <testsuite>
            <directory>./tests/Unit</directory>
        </testsuite>
    </testsuites>
    <php>
        <const name="DS" value="DIRECTORY_SEPARATOR"/>
        <const name="URI" value="#[^\d\w\/\.\@\-]#"/>
        <get name="uri" value="bar/aaa/1"/>
    </php>

</phpunit>